@import url("https://fonts.googleapis.com/css?family=Permanent+Marker");
@import url("https://fonts.googleapis.com/css?family=Yellowtail");
@import url("https://fonts.googleapis.com/css?family=Barlow");
html, body {
  height: 100%;
  width: 100%;
  font-size: 20px; }

section {
  background: rgba(0, 0, 0, 0.9);
  min-height: 100%; }

h1, h2, h3, h4, h5 {
  font-family: "Yellowtail", cursive; }

h1 {
  font-size: 4rem; }

p {
  font-family: "Barlow", sans-serif;
  text-align: justify; }

nav {
  background: linear-gradient(#1a1a1a 0%, rgba(26, 26, 26, 0.4) 100%);
  box-shadow: -7px 12px 12px 10px rgba(26, 26, 26, 0.4);
  z-index: 2000; }
  nav .navbar-brand {
    font-family: 'Permanent Marker', cursive;
    font-size: 2.4rem; }
  nav .nav-link {
    font-family: "Yellowtail", cursive;
    font-size: 1.5rem; }

#intro {
  z-index: -1; }

#article {
  min-height: 100%; }

.car-1 {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/card-1.jpg") no-repeat fixed left/cover; }

.intro-listing {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/listing-intro.jpg"); }

#intro-text {
  z-index: 2000; }

.nav-link {
  transition: all 0.4s ease; }
  .nav-link:hover, .nav-link:focus {
    background: rgba(255, 255, 255, 0.4);
    transition: all 0.4s ease; }

.carousel-item img {
  filter: brightness(15%); }

#prev-car {
  min-height: 60%; }
  #prev-car img {
    filter: brightness(100%); }

.card {
  background: #0d0d0d;
  color: white; }

#page-nav {
  margin-top: 5%; }
  #page-nav li > a {
    background: #0d0d0d;
    color: white; }

footer {
  background: #0d0d0d;
  min-height: 25%; }
  footer .container {
    height: inherit; }
  footer #footer-text {
    font-family: 'Permanent Marker', cursive;
    font-size: 2.4rem; }

#intro-hidden {
  display: none; }

@media (max-width: 790px) {
  #intro {
    order: 2; }
  #intro-text {
    display: none !important; }
  #intro-hidden {
    display: block;
    order: 1; }
  #intro-text {
    justify-content: center;
    align-items: center; }
  #intro-content {
    justify-content: center;
    align-items: center; } }
